<!DOCTYPE html>
<html>
<head>
    <title>Ecommerce app</title>
</head>
<body>
    <h1>{{ subject }}</h1>
    <p>{{ content }}</p>
    <p>This is an automated email, please do not reply.</p>
</body>
</html>
