PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=PFQadXJeJuKtefy90lnpXqwTB8iDquU4
DRIVE_DISK=local
CACHE_VIEWS=false
SMTP_HOST=localhost
SMTP_PORT=587
SMTP_USERNAME=<username>
SMTP_PASSWORD=<password>
